volumes:
  data:

networks:
  mynet:

services:
  # equivalent command: docker run -d --mount type=volume,src=data-vol,dst=/var/lib/mysql --network=mynet
  mydb:
    image: stackupiss/northwind-db:v1 
    build:
      context: app
    volumes:
    - type: volume 
      source: data-vol
      target: /var/lib/mysql
    environment:
    - MYSQL_ROOT_PASSWORD=changeit
    networks:
    - mynet
  
  # equivalent command: docker run -d -p 8080:3000 -e ... --network=mynet
  myapp:
    image: stackupiss/northwind-app:v1 
    environment:
    - DB_HOST=mydb
    - DB_USER=root 
    - DB_PASSWORD=changeit
    ports:
    - 8080:3000
    networks:
    - mynet
    depends_on:
      mydb:
        condition: service_started